body{
	padding: 0;
	margin: 0;
}
/*消除边上滑动条*/
::-webkit-scrollbar{
	width: 0;
	height: 0;
}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#navigator{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #3e454f;
	z-index: 1000;
}
#extra img{
	width: 14%;
	float: right;
}
#transaction{
	width: 28%;
	float: left;
}
#transaction img{
	width: 100%;
}

.extra{
	width: 50%;
	height: auto;
	right: 10px;
	top: 10%;
	position: fixed;
	visibility: hidden;
	display: block;
	z-index: 1001;
	font-size: 16px;
	background-color: #3e454f;
	border: 1px solid #3e4f4f;
	/*color: #ededf1;*/
}
.extra ul{
	list-style: none;
	padding: 0;
	margin: 0; 
}
.extra ul li{
	margin: 8px auto;
}
.extra ul li a{
	width: 100%;
	color: #ededf1;
	text-decoration: none;
	display: block;
}
.extra ul li i{
	font-size: 20px;
	margin: 0 10px;
}
.extra ul li label{
	width: 60%;
}
/*.extra li*/
#header{
	width: 100%;
	overflow: hidden;
	z-index: 1000;
}
#header img{
	width: 25%;
	float: left;
}
#content{
	width: 100%;
	top: 120px;
	position: absolute;
	background-color: #f5f4f9;
}

#major{
	width: 100%;
}
#major table,tr,td{
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#major table tr td a{
	font-size: 0;
	display: table-cell;
}
tr td{
	width:  25%;
	border-style: solid;
	border: 1px solid #ffffff;
}
tr td img{
	width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100px;
    margin: 10px auto !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.support{
	display: table;
	background-color: #ffffff;
	margin-bottom: 16.7%;
	text-align: center;
	width: 100%;
}
.support .row{
	display: table-row;
	width: 100%;
}
.support .row a{
	display: table-cell;
	border: 1px solid #f7f7f7;
	width: 25%;
}
.support-item{
	width: 100%;
	text-decoration: none;
}
.support-item .alipay{
	width: 50%;
	margin-top: .45rem;
	margin-bottom: .15rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.support-item span{
	font-size: .55rem;
	font-weight: normal;
	display: block;
	position: relative;
	margin: .15rem auto;
	color: #383838;
}
#footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
}
#footer img{
	width: 25%;
	height: 100%;
	float: left;
}