body{
	padding: 0;
	margin: 0;
}
/*消除边上滑动条*/
::-webkit-scrollbar{
	width: 0;
	height: 0;
}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#navigator{
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0;
	background-color: #3e454f;
	z-index: 1000;
}
#transaction img{
	width: 28%;
	float: left;
}
#extra img{
	width: 14%;
	float: right;
}
.extra{
	width: 50%;
	height: auto;
	right: 10px;
	top: 10%;
	position: fixed;
	visibility: hidden;
	display: block;
	z-index: 1001;
	font-size: 16px;
	background-color: #3e454f;
	border: 1px solid #3e4f4f;
	color: #ededf1;
}
.extra ul{
	list-style: none;
	padding: 0;
	margin: 0; 
}
.extra ul li{
	margin: 8px auto;
}
.extra ul li i{
	font-size: 20px;
	margin: 0 10px;
}
.extra ul li label{
	width: 60%;
}
/*.extra li*/
#header{
	width: 100%;
	height: 16.7%;
	position: fixed;
	top: 10%;
	overflow: hidden;
	z-index: 1000;
}
#header img{
	width: 25%;
	float: left;
}
#content{
	width: 100%;
	top: 23.7%;
	position: absolute;
	/*margin-bottom: 200px;*/
	margin-bottom: 16.7%;
	background-color: #f5f4f9;
}

#major{
	width: 100%;
}
#major table{
	width: 100%;
}
tr td{
	width:  25%;
}
tr td img{
	width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100px;
    margin: 10px auto !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.support{
	display: table;
	background-color: #ffffff;
}
.support .row{
	display: table-cell;
}
.support .row a{
	width: 25%;
}
.support .row img{
	width: 100%;
}
#footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
}
#footer img{
	width: 25%;
	float: left;
}