body{
	padding: 0;
	margin: 0;
}
/*消除边上滑动条*/
::-webkit-scrollbar{
	width: 100px;
	height: 0;
}
#navigator{
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0;
	background-color: #3e454f;
	z-index: 1000;
}
#transaction img{
	width: 28%;
	float: left;
}
#extra img{
	width: 14%;
	float: right;
}
#header{
	width: 100%;
	height: 16.7%;
	position: fixed;
	top: 10%;
	overflow: hidden;
	z-index: 1000;
}
#header img{
	width: 25%;
	float: left;
}
#content{
	width: 100%;
	top: 26.7%;
	position: absolute;
	margin-bottom: 100px;
}
#major{
	width: 100%;
}
tr td{
	width:  25%;
}
tr td img{
	width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
}
#footer img{
	width: 25%;
	float: left;
}