body{
	padding: 0;
	margin: 0;
}
#navigator{
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0;
	background-color: #3e454f;
	z-index: 1000;
}
#transaction img{
	width: 28%;
	height: 100%;
	float: left;
}
#extra{
	height: 100%;
}
#extra img{
	width: 14%;
	height: 100%;
	float: right;
}
#header{
	width: 100%;
	height: 16.7%;
	position: fixed;
	top: 10%;
	overflow: hidden;
	z-index: 1000;
}
#header img{
	width: 25%;
	height: 100%;
	float: left;
}
.wrap{
	width: 100%;
	height: 56.6%;
	position: absolute;
	top: 26.7%;
	overflow:hidden;
	
}
#content{
	width: 100%;
	height: 100%;
	margin: 0 20px;
	position: absolute;
	overflow-y:scroll;
	overflow-x:hidden;
}
#major{
	width: 100%;
	height: 200%;
	display: table;
}
#major .row{
	display: table-row;
}
#major .row a {
	display: table-cell;
	width: 25%;
}
#major .row a img{
	width: 100%;
}
#activity{
	colspan: 2;
}
#footer{
	width: 100%;
	height: 16.7%;
	position: fixed;
	bottom: 0;
	overflow: hidden;
}
#footer img{
	width: 25%;
	height: 100%;
	float: left;
}